In [2]:
from tabula import read_pdf
from tabulate import tabulate
import pandas as pd
##import camelot

In [3]:
df = read_pdf("daily_18-06-2020.pdf",multiple_tables=True,pages='1' )
df2 = df[0]
df2.fillna(0, inplace=True)#Make null values as zero
df2

Got stderr: Jun 19, 2020 11:35:20 AM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider loadDiskCache
WARNING: New fonts found, font cache will be re-built
Jun 19, 2020 11:35:20 AM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Building on-disk font cache, this may take a while
Jun 19, 2020 11:35:23 AM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Finished building on-disk font cache, found 187 fonts

,Item,Unnamed: 0,Pettah,Unnamed: 1,Unnamed: 2,Marandagahamula,Unnamed: 3
0,0,Range,Average,Change *,Range,Average,Change *
1,0,18-Jun,18-Jun 17-Jun,0,18-Jun,18-Jun 17-Jun,0
2,Rice (Rs/50 kg),\,0,0,0,0,0
3,Samba 1,4900.00 - 4900.00,4900.00 4900.00,0,4850.00 - 4850.00,4850.00 4850.00,0
4,Samba 2,4750.00 - 4800.00,4783.33 4783.33,0,4750.00 - 4800.00,4790.00 4800.00,-10.00
5,Samba 3,-,0,0,-,0,0
6,Nadu 1,4800.00 - 4800.00,4800.00 4800.00,0,4750.00 - 4750.00,4750.00 4750.00,0
7,Nadu 2,4700.00 - 4750.00,4733.33 4733.33,0,4600.00 - 4700.00,4650.00 4670.00,-20.00
8,Raw red,4600.00 - 4600.00,4600.00 4600.00,0,4500.00 - 4600.00,4560.00 4580.00,-20.00
9,Raw White,4600.00 - 4650.00,4612.50 4600.00,12.50,4400.00 - 4500.00,4460.00 4460.00,0
10,Imported Rice,0,0,0,0,0,0
11,SambaPonne 1,-,0,0,0,0,0
12,Nadu,0,0,0,0,0,0
13,Raw White,-,0,0,0,0,0
14,0,-,0,0,0,0,0
15,Subsidiary Food Crops,0,0,0,0,0,0
16,Dried Chillies (Rs/Kg),0,0,0,0,0,0
17,Imported,400.00 - 425.00,412.00 400.00,12.00,0,0,0
18,Local,0,0,0,0,0,0
19,Onion (Rs/Kg),0,0,0,0,0,0
20,Sinnan,-,0,0,0,0,0
21,Vedalan,-,0,0,0,0,0
22,Imported,245.00 - 265.00,256.25 257.50,-1.25,0,0,0
23,Big Onion,0,0,0,0,0,0
24,Imported,60.00 - 68.00,64.20 62.40,1.80,0,0,0
25,Local,-,0,0,0,0,0
26,Potatoes (Rs/Kg),0,0,0,0,0,0
27,Welimada,-,0,0,0,0,0
28,Nuwaraeliya,160.00 - 170.00,162.50 162.50,0,0,0,0
29,Imported,95.00 - 130.00,117.00 111.00,6.00,0,0,0
30,Pulses (Rs/Kg),0,0,0,0,0,0
31,Green Gram,295.00 - 310.00,302.00 298.00,4.00,0,0,0
32,Cowpea,355.00 - 360.00,358.33 358.33,0,0,0,0
33,Red Dhal,142.00 - 145.00,144.00 144.20,-0.20,0,0,0
34,Eggs (Rs/Egg),0,0,0,0,0,0
35,Brown,-,0,0,0,0,0
36,White,-,0,0,0,0,0

In [4]:
df2.to_csv('as.csv')

In [ ]:
df